@font-face {
  font-family: 'Hagrid';
  src: url('Hagrid-Regular-trial.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Hagrid Italic';
  src: url('Hagrid-Italic-trial.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Hagrid Extra Bold';
  src: url('Hagrid-Text-Extrabold-trial.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
