/* @import '../public/fonts/Hagrid/fonts.css'; */
@import '../public/fonts/Hagrid/font_caption.css';

:root {
  --primary-color: #51267d;
  --secondary-color: #fdc100;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'PT-Sans-Caption', -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  scroll-behavior: smooth !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* ::-webkit-scrollbar {
  width: 4px;
  height: 4px;
} */

/* Track */
/* ::-webkit-scrollbar-track {
  background: #f1f1f1;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
} */
