.slick-dots li {
  width: 30px !important;
  height: 3px !important;
  background-color: rgba(255, 255, 255, 0.5);
}

.slick-dots li button::before {
  display: none;
}

.slick-dots .slick-active {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.slick-dots {
  bottom: 20px !important;
}
