.link {
  position: relative;
  display: flex;
  justify-content: center;
  transition: all 0.4s ease;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--secondary-color);
    height: 0;
    transition: all 0.4s ease;
  }

  &:hover {
    // transform: translateY(-5px);
    padding-bottom: 20px;
    &::after {
      height: 5px !important;
    }
  }
}
